<!--The content below is only a placeholder and can be replaced.-->
<!-- Login/Logged in Component -->
<div class="container well col-sm-6 col-lg-3 col-xsm-12">


  <div *ngIf="! this.IsLoggedInService.isLoggedIn()">
    <app-login></app-login>
  </div>


  <div *ngIf="this.IsLoggedInService.isLoggedIn()">
    <app-logged-in></app-logged-in>
  </div>

</div>
<!-- notifications in Component -->
<div *ngIf="this.IsLoggedInService.isLoggedIn()" class="container well col-sm-12 col-lg-6">
  <app-notifications></app-notifications>
</div>
<!-- Make a post app compnenet -->
<div *ngIf="this.IsLoggedInService.isLoggedIn()" class="container well col-sm-12">
  <app-makea-post></app-makea-post>
</div>
<!-- main app window -->
<div class ="container well col-sm-12 col-lg-12">
<app-posts></app-posts>
</div>


