<!--The content below is only a placeholder and can be replaced.-->
<!-- Login/Logged in Component -->
<div class="container well col-sm-6">


  <div *ngIf="loggedIn == false">
    <app-login></app-login>
  </div>


  <div *ngIf="loggedIn">
    <app-logged-in></app-logged-in>
  </div>

</div>
<!-- notifications in Component -->
<div *ngIf="loggedIn" class="container well col-sm-6">
  <app-notifications></app-notifications>
</div>
<!-- main app window -->
<div class ="container well col-sm-12">
<app-posts></app-posts>
</div>


